@{
    ViewBag.Title = "Update Category";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model CodeFirst.Areas.Admin.Models.DTO.CategoryDTO

<h1>Kategori Ekleme İşlemi</h1>

@Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMesssagePart.cshtml")

@Html.Partial("Partial/CategoryForm")



